In [2]:
import dtale
import pandas as pd
import seaborn as sns 
from sklearn.datasets import load_diabetes

In [13]:
df = pd.read_csv("C:/Users/lenovo/python/EDA/Car_sales.csv")
dtale_carsale = dtale.show(df,ignore_duplicate=True)
# open it in new window
dtale_carsale.open_browser()

In [11]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'


if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

corr_data = df.corr(method='pearson')
corr_data.index.name = str('column')
corr_data = corr_data.reset_index()

In [12]:
corr_data

,column,Sales_in_thousands,__year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
0,Sales_in_thousands,1.000000,-0.279034,-0.304734,0.019983,-0.197756,0.358179,0.140918,0.254980,0.008628,0.086540,-0.016764,-0.223252
1,__year_resale_value,-0.279034,1.000000,0.953840,0.531330,0.769081,-0.052270,0.178767,0.026548,0.361557,0.325567,-0.399880,0.827123
2,Price_in_thousands,-0.304734,0.953840,1.000000,0.626875,0.839744,0.110513,0.329136,0.156935,0.526224,0.423282,-0.492157,0.897945
3,Engine_size,0.019983,0.531330,0.626875,1.000000,0.837360,0.472130,0.690398,0.541424,0.760043,0.663022,-0.734622,0.818528
4,Horsepower,-0.197756,0.769081,0.839744,0.837360,1.000000,0.286308,0.539158,0.393364,0.610131,0.499907,-0.611332,0.992994
5,Wheelbase,0.358179,-0.052270,0.110513,0.472130,0.286308,1.000000,0.683135,0.839639,0.651016,0.654044,-0.497931,0.258852
6,Width,0.140918,0.178767,0.329136,0.690398,0.539158,0.683135,1.000000,0.710435,0.720927,0.656302,-0.602546,0.512025
7,Length,0.254980,0.026548,0.156935,0.541424,0.393364,0.839639,0.710435,1.000000,0.627163,0.563540,-0.446756,0.354095
8,Curb_weight,0.008628,0.361557,0.526224,0.760043,0.610131,0.651016,0.720927,0.627163,1.000000,0.863968,-0.818402,0.612071
9,Fuel_capacity,0.086540,0.325567,0.423282,0.663022,0.499907,0.654044,0.656302,0.563540,0.863968,1.000000,-0.801512,0.501184
10,Fuel_efficiency,-0.016764,-0.399880,-0.492157,-0.734622,-0.611332,-0.497931,-0.602546,-0.446756,-0.818402,-0.801512,1.000000,-0.607495
11,Power_perf_factor,-0.223252,0.827123,0.897945,0.818528,0.992994,0.258852,0.512025,0.354095,0.612071,0.501184,-0.607495,1.000000

C:\Users\lenovo\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:903: RuntimeWarning:

invalid value encountered in greater

C:\Users\lenovo\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:903: RuntimeWarning:

invalid value encountered in less

C:\Users\lenovo\anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1827: RuntimeWarning:

invalid value encountered in greater_equal

Exception occurred while processing request: could not convert string to float: 'Passenger'
Traceback (most recent call last):
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 84, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 1399, in build_column
    _build_column()
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 1349, in _build_column
    new_col_data = builder.build_column()
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\column_builders.py", line 70, in build_column
    return self.builder.build_column(data)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\column_builders.py", line 432, in build_column
    s.astype("float").astype("int"), name=self.name, index=s.index
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\generic.py", line 5698, in astype
    new_data = self._data.astype(dtype=dtype, copy=copy, errors=errors)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\managers.py", line 582, in astype
    return self.apply("astype", dtype=dtype, copy=copy, errors=errors)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\managers.py", line 442, in apply
    applied = getattr(b, f)(**kwargs)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\blocks.py", line 607, in astype
    values = self.values.astype(dtype)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\arrays\categorical.py", line 502, in astype
    return np.array(self, dtype=dtype, copy=copy)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\arrays\categorical.py", line 1280, in __array__
    return np.asarray(ret, dtype)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\numpy\core\_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'Passenger'

2021-02-16 11:59:39,253 - ERROR    - Exception occurred while processing request: could not convert string to float: 'Passenger'
Traceback (most recent call last):
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 84, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 1399, in build_column
    _build_column()
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 1349, in _build_column
    new_col_data = builder.build_column()
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\column_builders.py", line 70, in build_column
    return self.builder.build_column(data)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\column_builders.py", line 432, in build_column
    s.astype("float").astype("int"), name=self.name, index=s.index
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\generic.py", line 5698, in astype
    new_data = self._data.astype(dtype=dtype, copy=copy, errors=errors)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\managers.py", line 582, in astype
    return self.apply("astype", dtype=dtype, copy=copy, errors=errors)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\managers.py", line 442, in apply
    applied = getattr(b, f)(**kwargs)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\blocks.py", line 607, in astype
    values = self.values.astype(dtype)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\arrays\categorical.py", line 502, in astype
    return np.array(self, dtype=dtype, copy=copy)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\arrays\categorical.py", line 1280, in __array__
    return np.asarray(ret, dtype)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\numpy\core\_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'Passenger'

Exception occurred while processing request: could not convert string to float: 'Passenger'
Traceback (most recent call last):
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 84, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 1399, in build_column
    _build_column()
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 1349, in _build_column
    new_col_data = builder.build_column()
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\column_builders.py", line 70, in build_column
    return self.builder.build_column(data)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\column_builders.py", line 432, in build_column
    s.astype("float").astype("int"), name=self.name, index=s.index
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\generic.py", line 5698, in astype
    new_data = self._data.astype(dtype=dtype, copy=copy, errors=errors)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\managers.py", line 582, in astype
    return self.apply("astype", dtype=dtype, copy=copy, errors=errors)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\managers.py", line 442, in apply
    applied = getattr(b, f)(**kwargs)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\blocks.py", line 607, in astype
    values = self.values.astype(dtype)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\arrays\categorical.py", line 502, in astype
    return np.array(self, dtype=dtype, copy=copy)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\arrays\categorical.py", line 1280, in __array__
    return np.asarray(ret, dtype)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\numpy\core\_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'Passenger'

2021-02-16 12:00:36,981 - ERROR    - Exception occurred while processing request: could not convert string to float: 'Passenger'
Traceback (most recent call last):
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 84, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 1399, in build_column
    _build_column()
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 1349, in _build_column
    new_col_data = builder.build_column()
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\column_builders.py", line 70, in build_column
    return self.builder.build_column(data)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\column_builders.py", line 432, in build_column
    s.astype("float").astype("int"), name=self.name, index=s.index
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\generic.py", line 5698, in astype
    new_data = self._data.astype(dtype=dtype, copy=copy, errors=errors)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\managers.py", line 582, in astype
    return self.apply("astype", dtype=dtype, copy=copy, errors=errors)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\managers.py", line 442, in apply
    applied = getattr(b, f)(**kwargs)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\blocks.py", line 607, in astype
    values = self.values.astype(dtype)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\arrays\categorical.py", line 502, in astype
    return np.array(self, dtype=dtype, copy=copy)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\arrays\categorical.py", line 1280, in __array__
    return np.asarray(ret, dtype)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\numpy\core\_asarray.py", line 85, in asarray
    return array(a, dtype, copy=False, order=order)
ValueError: could not convert string to float: 'Passenger'

Exception occurred while processing request: could not convert string to float: 'Passenger'
Traceback (most recent call last):
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 84, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 1399, in build_column
    _build_column()
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 1349, in _build_column
    new_col_data = builder.build_column()
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\column_builders.py", line 70, in build_column
    return self.builder.build_column(data)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\column_builders.py", line 432, in build_column
    s.astype("float").astype("int"), name=self.name, index=s.index
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\generic.py", line 5698, in astype
    new_data = self._data.astype(dtype=dtype, copy=copy, errors=errors)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\managers.py", line 582, in astype
    return self.apply("astype", dtype=dtype, copy=copy, errors=errors)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\managers.py", line 442, in apply
    applied = getattr(b, f)(**kwargs)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\blocks.py", line 625, in astype
    values = astype_nansafe(vals1d, dtype, copy=True)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\dtypes\cast.py", line 897, in astype_nansafe
    return arr.astype(dtype, copy=True)
ValueError: could not convert string to float: 'Passenger'

2021-02-16 12:01:39,789 - ERROR    - Exception occurred while processing request: could not convert string to float: 'Passenger'
Traceback (most recent call last):
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 84, in _handle_exceptions
    return func(*args, **kwargs)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 1399, in build_column
    _build_column()
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\views.py", line 1349, in _build_column
    new_col_data = builder.build_column()
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\column_builders.py", line 70, in build_column
    return self.builder.build_column(data)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\dtale\column_builders.py", line 432, in build_column
    s.astype("float").astype("int"), name=self.name, index=s.index
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\generic.py", line 5698, in astype
    new_data = self._data.astype(dtype=dtype, copy=copy, errors=errors)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\managers.py", line 582, in astype
    return self.apply("astype", dtype=dtype, copy=copy, errors=errors)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\managers.py", line 442, in apply
    applied = getattr(b, f)(**kwargs)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\internals\blocks.py", line 625, in astype
    values = astype_nansafe(vals1d, dtype, copy=True)
  File "C:\Users\lenovo\anaconda3\lib\site-packages\pandas\core\dtypes\cast.py", line 897, in astype_nansafe
    return arr.astype(dtype, copy=True)
ValueError: could not convert string to float: 'Passenger'

In [14]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [15]:
df['new'] = df['Sales_in_thousands'] + df['Price_in_thousands']

2021-02-16 12:15:24,602 - INFO     - NumExpr defaulting to 8 threads.

In [16]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor,new
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150,38.419
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778,67.784
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779,50.588
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639,44.387
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812,27.945
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495,42.745
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978,46.331
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357,48.993
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655,54.969